numpy==1.26.4
sounddevice==0.5.3
soundfile==0.13.1
keyboard==0.13.5
faster-whisper==1.2.1
gTTS==2.5.4
ollama==0.6.1

# Windows note:
# This project runs on Windows.
# You must install Microsoft Visual C++ Redistributable 2015–2022 (x64)
# Download from: https://learn.microsoft.com/en-us/cpp/windows/latest-supported-vc-redist